################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/Gl_40/.vs/Gl_40_Project/v15
/.vs
/Gl_40_Project_Sans_Saucisson_HALAL/.vs/Gl_40_Project/v15
/DexterIT/.vs/DexterIT/v15
/DexterIT/.vs/Gl_40_Project/v15
