################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/Gl_40/.vs/Gl_40_Project/v15
/.vs
